# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies (Thư viện)
node_modules
/jspm_packages

# Production/Build outputs
dist
dist-ssr
build
out

# Environment variables (File bảo mật - Tuyệt đối không lên Git)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VS Code settings (Giữ lại extensions.json để chia sẻ cấu hình khuyên dùng)
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

# TypeScript cache
*.tsbuildinfo